<div class="about-me">

    <h3>Front-End Developer | Angular Specialist</h3>
    <p>I am a seasoned Front-End Developer with a strong specialization in Angular, leveraging my expertise to design and develop intuitive, responsive, and user-centric interfaces.</p>
    <p>With a proven track record of translating complex business requirements into efficient, scalable, and maintainable solutions, I consistently apply industry-leading development and design practices to deliver exceptional results.</p>
    <p>My technical proficiency spans <b>JavaScript</b>, <b>TypeScript</b>, <b>HTML</b>, and <b>CSS</b>, enabling me to create seamless digital experiences that align with both user needs and organizational goals. Known for my proactive approach and commitment to excellence, I prioritize delivering high-quality projects that drive value and enhance user satisfaction.
    </p>

    <img src="/profile-picture.jpg" alt="Profile Picture" width="30%">

    <footer class="contact-footer">
      <ul>
      <div class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>Av rui barbosa, 688 - São josé dos campos - SP</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <span>raicarvalho.mei&#64;gmail.com</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone"></i>
        <span>+55 (12) 98289-3184</span>
      </div>
      <div class="contact-item">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/rai-carvalho-oliveira" target="_blank">LinkedIn Profile</a>
      </div>
    </ul>
    </footer>
  </div>